* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient-btn {
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    /* Gradient color */
    background: linear-gradient(9deg, #ffea00 5%, #ff2cdf 45%, #2068c7 100%);

    transition: 0.3s ease;
  }

  .gradient-btn:hover {
    background: linear-gradient(90deg, #6a00ff, #ff00cc);
    transform: scale(1.05);
  }

.gradient-text {
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(2deg, #00f7ff, #ff2cdf 50%, #ffea00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  padding: 16px 200px;
  background-color: #412567;
  max-width: 1600px;
  margin: 0 auto;
} 
 
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
    font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}

.gradient-text {
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(2deg, #00f7ff, #ff2cdf 50%, #ffea00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffea00;
}

.header-section {
  text-align: center;
  padding-top: 490px;
  padding-bottom: 100px;
  background-image:url(./images/microphone.png) , url('./images/hero-circle.png'), url('./images/hero-bg.png');
  background-position: center bottom 68%, center bottom 75%, center;
  background-repeat: no-repeat;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
 
.header-section h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 16px;
  color: #ffffff;
}

.header-section p {
  font-size: 16px;
  color: #dddddd;
}

