* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient-btn {
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    /* Gradient color */
    background: linear-gradient(9deg, #ffea00 5%, #ff2cdf 45%, #2068c7 100%);

    transition: 0.3s ease;
  }

  .gradient-btn:hover {
    background: linear-gradient(90deg, #6a00ff, #ff00cc);
    transform: scale(1.05);
  }

.gradient-text {
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(2deg, #00f7ff, #ff2cdf 50%, #ffea00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  padding: 16px 200px;
  background-color: #1A0B2E;
  max-width: 1600px;
  margin: 0 auto;
} 
 
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
    font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}

.gradient-text {
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(2deg, #00f7ff, #ff2cdf 50%, #ffea00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffea00;
}

.nav-img{
  display: none;
}

.header-section {
  text-align: center;
  padding-top: 445px;
  padding-bottom: 100px;
  background-image:url(./images/microphone.png) , url('./images/hero-circle.png'), url('./images/hero-bg.png');
  background-position: center bottom 68%, center bottom 75%, center;
  background-repeat: no-repeat;
  position: relative;

  
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
 
.header-section h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 16px;
  color: #ffffff;
}

.header-section p {
  font-size: 16px;
  color: #dddddd;
}

.about-section {
  background-color: #1A0B2E;
  max-width: 1600px;
  margin: 0 auto;
  

}

.about-content {
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px;
}

.about-text h2{
  font-size: 48px;
  color: #ffffff;
  margin-top: 16px;
  max-width: 600px;
  margin: 16px auto 0 auto;

}

.about-text p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 16px;
  max-width: 800px;
  margin: 16px auto 0 auto;
  font-weight: 400;

}

.about-rocks {
  max-width: 1200px;
  margin: 0 auto;
  
  margin-top: 80px;
  
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #ffffff 1px solid;
}

.about-rocks h2 {
  font-size: 48px;
  color: #00ff88;
  font-weight: 800;
}

.about-rocks p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 16px;
  font-weight: 400;
}

.host-section {
  background-color: #230E3D;
  padding: 100px 20px;
  
  max-width: 1600px;
  margin: 0 auto;
}

.host-text h2 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

.host-card h3{
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  text-align: left;
  margin-bottom: 16px;
}

.host-card p{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 16px;
}

.host-card img{
  margin-bottom: 16px;
}

.host-card-left h3{
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  text-align: left;
  margin-bottom: 40px;
}

.host-card-left p{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 40px;
}

.host-card-left img{
  margin-bottom: 16px;
}

.host-section-cards-top {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  max-width: 1200px;
  max-height: 502px;
  margin: 0 auto;
  margin-bottom: 30px;
  flex-wrap: nowrap;
}

.host-card-left{
  background-color: #351165;
  padding: 40px 40px;
  border-radius: 40px;
  max-width: 380px;
  
}

.host-card-right{
  margin-bottom: 20px;
  display: grid;
  gap: 30px;
  
}


.host-card{
  background-color: #351165;
  padding: 40px 40px;
  border-radius: 40px;
  width: 100%;
 

}

.host-section-cards-buttom{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  max-width: 1040px;
  margin: 0 auto;
}

.host-section-cards-buttom .host-card{
  background-color: #351165;
  padding: 40px 40px;
  border-radius: 40px;
  width: 100%;
  
}

/* ready seation */

.ready {
  background-color: #1A0B2E;
  padding: 100px 20px;
  
  max-width: 1600px;
  margin: 0 auto;
}

.ready-content h2{
  font-size: 48px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

.ready-seation{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  max-width: 1050px;
  margin: 0 auto;
}


.video-box {
  position: relative;
  padding-top: 56.25%; /* 16:9 ratio */
}

.video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 24px 24px 0 0;
  
}


.ready-video{
 background-color: #250D44;
  padding: 0px 0px;
  border-radius: 24px;
  width: 100%;
}

.ready-video h3{
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;

}

.ready-video p{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  

}

.ready-video h4{
   font-size: 16px;
  color: #00ff88;
  font-weight: 600;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 24px;
  ;
}

.meet{
  background-color: #1A0B2E;
  padding: 100px 20px;
  
  max-width: 1600px;
  margin: 0 auto;
}

.meet-content h2{
  font-size: 48px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}


.meet-seation{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  max-width: 1050px;
  margin: 0 auto;
  background-color: #250D44;
  padding: 40px 40px;
  border-radius: 24px;
  width: 100%;
}

.meet-content h3{
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  margin-bottom: 12px;
}

.meet-content p{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  
}

.icon{
  display: flex;
  justify-content: left;
  gap: 10px;
  
  max-width: 1050px;
  margin: 0 auto;
 
}

.circle-border{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px; /* border thickness */
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-border img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit:scale-down;
  background: #250D44;
}

.footer{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  background-image:url(./images/footer-bg.png);
  background-position: center bottom 68%, center bottom 75%, center;
  background-repeat: no-repeat;
}

.footer-content h2{
  color: white;
  font-size: 80px;
  font-weight: 800;
}

.gradient-h2 {
  font-size: 80px;
  font-weight: 800;
  background: linear-gradient(2deg, #00f7ff, #ff2cdf 50%, #ffea00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media{
  display: flex;
  justify-content: center;

 
  max-width: 1050px;
  margin: 0 auto;
  
}

.media p{
   padding: 32px 20px;
   color: white;
   align-items: center;
   font-size: 16px;
   font-weight:500;
}

.footer-content p{
   color: white;
   font-size: 16px;
   font-weight:400;
}

.hide{
  display: none !important;
}

@media screen and (max-width:576px) {
  
    nav {
    padding: 16px 20px;
    }  

    .gradient-text,
    h1 {
      text-align: left;
    }

    nav ul {
    display: none;
    }

    .nav-img{
      display: block;
    }

    .btn{
      display: none;
    }


    .header-section{
    padding-top: 360px;
    padding-bottom: 10px;

    background-size:
      60px,    
      200px,    
      cover;

    background-position:
      center bottom 66%,
      center bottom 72%,
      center;
  }

    .about-rocks{
      flex-wrap: wrap;
      margin-top: 40px;
      padding: 40px 20px;
      margin-bottom: -40px;
    }

    .header-section h2 {
    font-size: 40px;
    }

    .button-group {
    gap: 8px;
    }

    .ready,
    .meet,
    .host-section
    .about-content {
      padding: 40px 20px;
    }
    .ready-content h2,
    .host-text h2,
    .about-text h2{
      font-size: 32px;
      margin-bottom: 24px;
    }


   

    
.host-section{
    padding: 60px 16px;
  }

  .host-text h2{
    font-size: 26px;
    margin-bottom: 170px;
  }

  /* top section */
  .host-section-cards-top{
    flex-direction: column;
    gap: 20px;
  }

  .host-card-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* bottom section */
  .host-section-cards-buttom{
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  /* cards */
  .host-card,
  .host-card-left{
    padding: 22px;
    border-radius: 22px;
  }

  .host-card h3,
  .host-card-left h3{
    font-size: 18px;
    margin-bottom: 12px;
  }

  .host-card p,
  .host-card-left p{
    font-size: 14px;
    line-height: 1.6;
  }

  .host-card img,
  .host-card-left img{
    width: 32px;
  }

    .ready-seation {
      flex-direction: column;
      gap: 16px;
    }
    .ready-video h3 {
      font-size: 20px;
    }

    .meet-content h2{
      font-size: 32px;
      margin-bottom: 24px;
    }
    .meet-seation{
    flex-direction: column;
    text-align: center;
    }
    .meet-content h3,
    .meet-content p{
    text-align: center;
    }
    .icon{
    justify-content: center;
    }

    .footer{
      padding-top: 40px;
        background-size: 100% 100%;

    }

    .footer-content h2,
    .gradient-h2 {
      font-size: 42px;
      padding-bottom: 16px;
    }

    .media{
      padding: 0 40px;
      flex-wrap: wrap;
    }

    .media p{
      padding: 8px 20px;
    }

    .footer-content p {
      padding-top: 24px;
    }


   







    
}